{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T About {0} || data.Business.Name %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">
      <h2 class="page-title span12">{% T About {0} || data.Business.Name %}</h2>
      <!-- CONTENT -->
      <section id="content" class="span9">
        
        {% if data.Local.Gallery.size > 0 %}
        <!-- CAROUSEL -->
        <div id="myCarousel" class="carousel slide">
          <!-- carousel-indicators -->
          <ol class="carousel-indicators">
            {% for image in data.Local.Gallery %}
            <li class="{% if forloop.index0 == 0 %}active{% endif %}" data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}"></li>
            {% endfor %}
          </ol>
          <!-- END carousel-indicators -->
          
          <!-- carousel-content -->
          <div class="carousel-inner">
            {% for image in data.Local.Gallery %}
            <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
              <img src="{% Url Content, Images, name: image.Name, w: 940, h: 450, mode: 'Crop' %}" alt="">
            </div>
            {% endfor %}
          </div>
          <!-- END carousel-content -->
          
          <!-- carousel-controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&#8249;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&#8250;</a>
          <!-- END carousel-controls -->
        </div>
        <!-- END CAROUSEL -->
        {% endif %}
        
        <div class="body-content">
          <p>{{ data.Business.AboutUs }}</p>
        </div>
        
      </section>
      <!-- END CONTENT -->
      
      <!-- SIDEBAR -->
      <aside id="sidebar-right" class="span3">
        
        <!-- WIDGET SKILLS -->
        <div class="widget widget-skills">
          <div class="widget-title">
            <h3>{% T Skills at {0} || data.Business.Name %}</h3>
          </div>
          <div class="widget-body">
            {% for tag in data.Local.ProfileTags %}
            <a href="{% Url Directory, Index, tag: tag %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-tag"></span> {{ tag | Capitalize }}</a>
            {% endfor %}
          </div>
        </div>
        <!-- END WIDGET SKILLS -->
        {% if data.Setting_Social_Flickr != "" %}
        <!-- WIDGET FLICKR -->
        <div class="widget widget-flickr">
          <div class="widget-title">
            <h3>{% T Flickr Feed %}</h3>
          </div>
          <div class="widget-body">
            <ul>
            </ul>
          </div>
        </div>
        <!-- END WIDGET FLICKR -->
        {% endif %}
      </aside>
      <!-- END SIDEBAR -->
      
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}