{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li><a href="{% Url Blog, Index, categoryId: null, title: null %}">{% T Blog %}</a> <span class="divider">/</span></li>
      <li class="active">{% T data.Local.BlogPost.Title %}</li>
      
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">
      
      <!-- CONTENT -->
      <section id="content" class="span9">
        
        <article class="post">
          <h2 class="page-title"><a href="{% Url Blog, Read, Id: data.Local.BlogPost.Id, title: data.Local.BlogPost.Title | Clean %}">{{ data.Local.BlogPost.Title | StripHtml }}</a></h2>
          <!-- POST INFO -->
          <ul class="post-info">
            <li>
              <span aria-hidden="true" class="icon i-16 icon-calendar"></span> <a href="#">{{ data.Local.BlogPost.PublishDate | Date: 'd MMMM' }}</a>
            </li>
            <li>
              <span aria-hidden="true" class="icon i-16 icon-bubble"></span> <a href="{% Url Blog, Read, Id: data.Local.BlogPost.Id, title: data.Local.BlogPost.Title | Clean %}#comments">{% T {0} Comment(s) || data.Local.BlogPost.Comments.size %}</a>
            </li>
            {% for cat in data.Local.BlogPost.BlogCategories %}
            <li>
              <span aria-hidden="true" class="icon i-16 icon-tag"></span> <a href="{% Url Blog, Index, title: cat.Title | Clean, categoryId: cat.Id, page: 1 %}">{{ cat.Title }}</a>
            </li>
            {% endfor %}
          </ul>
          <!-- END POST INFO -->
          <!-- POST CONTENT -->
          <div class="body-content" style="min-height: 240px;">
            {% if data.Local.BlogPost.HasImage %}
            <a data-toggle="lightbox" href="#blog-image-{{data.Local.BlogPost.Id}}" class="thumbnail pull-left">
              <img src="{% Url Blog, GetImage, id: data.Local.BlogPost.Id, h: 220, w: 220 %}" alt="{{ data.Local.BlogPost.Title | StripHtml }}" class="entry-image" />
            </a>
            <div id="blog-image-{{data.Local.BlogPost.Id}}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
              <div class="lightbox-content">
                <img src="{% Url Blog, GetImage, id: data.Local.BlogPost.Id, w: 800 %}">
                <div class="lightbox-caption"><p>{{ data.Local.BlogPost.Title }}</p></div>
              </div>
            </div>
            {% endif %}
            <p>
              {{ data.Local.BlogPost.FullText }}
            </p>
          </div>
          <!-- END POST CONTENT -->
        </article>
        
        
        <!-- COMMENTS -->
        {% if data.Local.BlogPost.AllowComments or data.Local.BlogPost.Comments.size  > 0 %}
        <h3>{% T Comments %}</h3>
        {% endif %}
        {% for item in data.Local.BlogPost.Comments %}
        <!-- COMMENT -->
        <div class="media comment">
          
          <a class="media-object pull-left" href="{% Url Directory, Profile, id: item.PostedBy.Coworker.Id, name: item.FromUser.Coworker.FullName | Clean %}">
            {% if item.PostedBy.Coworker.HasAvatar %}
            <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: item.PostedBy.Coworker.Id, h:64, w:64 %}" alt="{{ item.PostedBy.FullName | Capitalize }}" >          
            {% else %}
            <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ item.PostedBy.FullName | Capitalize }}" >
            {% endif %}
          </a>
          
          <div class="media-body">
            <h4 class="media-heading">{{ item.PostedBy.FullName | Capitalize }} </h4>
            <blockquote>
              <p>{{ item.Text | StripHtml | MarkDown }}</p>
              <small>{{ item.CreatedOn | Date: 'd MMMM @htt' }}</small>
            </blockquote>
            
          </div>
        </div>
        <!-- END COMMENT -->
        {% endfor %}
        {% if data.Local.BlogPost.AllowComments %}
        {% if data.UserIsLoggedIn %}
        <div class="media comment comment-form">
          
          <a class="media-object pull-left" href="{% Url Directory, Profile, id: data.Coworker.Id %}">
            {% if data.Coworker.HasAvatar %}
            <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: data.Coworker.Id, h:64, w:64 %}" alt="{{ data.Coworker.FullName | Capitalize }}" >
            {% else %}
            <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ data.Coworker.FullName | Capitalize }}" >
            {% endif %}
          </a>
          <div class="media-body">
            <form class="row-fluid" method="post" action="{% Url Blog, NewComment %}">
              {% AntiforgeryToken %}
              <input type="hidden" name="id" value="{{ data.Local.BlogPost.Id }}"/>
              <input type="hidden" id="title" name="title" required="required" value="{{data.Local.BlogPost.Title}}"> 
              <textarea class="span12" name="comment" required="required"></textarea>
              <button type="submit" class="btn btn-orange pull-right">{% T Post message %}</button>
            </form>
          </div>
        </div>
        {% else %}
        <div class="media comment comment-form">
          <a href="{% Url Login, Index, lang: data.Language %}&returnUrl={% Url Blog, Read, Id: post.Id, title: post.Title | Clean %}" class="btn btn-orange">{% T Login to leave a message %}</a>
        </div>
        {% endif %}
        <!-- END COMMENTS -->
        {% endif %}
        
      </section>
      <!-- END CONTENT -->
      
      <!-- SIDEBAR -->
      <aside id="sidebar-right" class="span3">
        <!-- WIDGET SKILLS -->
        <div class="widget widget-skills">
          <div class="widget-title">
            <h3>{% T Blog Categories %}</h3>
          </div>
          <div class="widget-body">
            {% for cat in data.Local.Categories %}
            <a href="{% Url Blog, Index, title: cat.Title | Clean, categoryId: cat.Id, page: 1 %}" class="btn btn-{% if data.Local.Category.Id == cat.Id %}orange{%else%}grey{%endif%}"><span aria-hidden="true" class="icon i-16 icon-tag"></span> {{ cat.Title }}</a>
            {% endfor %}
          </div>
        </div>
        <!-- END WIDGET SKILLS -->
        <!-- WIDGET FLICKR -->
        <div class="widget widget-flickr">
          <div class="widget-title">
            <h3>{% T Twitter feed %}</h3>
          </div>
          <div class="widget-body">
            {% if data.Setting_Social_Twitter != "" %}
            <a class="twitter-timeline" data-tweet-limit="5" data-chrome="noheader nofooter noborders" href="https://twitter.com/twitterapi" data-widget-id="{% Setting Social.Twitter %}"></a>
            {% else %}
            <div class="well no-content text-center">
              <span aria-hidden="true" class="icon i-48 icon-twitter-2"></span>
              <p><strong><a target="_blank" href="https://spaces.nexudus.com/Settings">{% T Click here to setup Twitter %}</a></strong></p>
            </div>
            {% endif %}
          </div>
        </div>
        <!-- END WIDGET FLICKR -->
      </aside>
      <!-- END SIDEBAR -->
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}