/* 
	-------------------------------------------------- 
   	Nexudus Bootstrap theme
	-------------------------------------------------- 
	Table of Contents

		1. UX

			:: html, body
			:: typography
			:: icons
			:: buttons
			:: forms
			:: carousel
			:: accordion
			:: navbar
			:: generics

		2. Layout
			:: regions
				:: header
				:: wrapper
				:: footer
			:: home
				:: intro
			:: components
				:: comments
				:: members
				:: filter
			:: widgets
				:: widget-skills
				:: widget-flickr
				:: widget-menu
			:: fullcalendar
			:: content-types
				:: contact
            :: Utils

	-------------------------------------------------- 
*/



/* -----------------------------------------------------------------------
	1. UX
------------------------------------------------------------------------ */

/* -----------------------------------------
	html, body
----------------------------------------- */
body{
	background: #fff;
}

	body,
	input,
	textarea{
		font-family: 'Open Sans', sans-serif;
	}

/* -----------------------------------------
	typography
----------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
	margin: 0 0 20px;
}

	h1.subheader,
	h2.subheader,
	h3.subheader,
	h4.subheader,
	h5.subheader,
	h6.subheader {
		color: #333;
		font-weight: normal;
		margin: 10px 0;
	}

a {
	color: #primarycolor;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

a:hover {
	color: #ee8825;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 {
	text-decoration: none;
}

a.thumbnail:hover,
a.thumbnail:focus {
	border-color: rgba(248, 171, 3, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
}

/* -----------------------------------------
	buttons
----------------------------------------- */
.btn {
	border-color: transparent;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

.btn-link {
	color: #primarycolor;
}

.btn-link:hover,
.btn-link:focus{
	color: #primarycolor;
}

.btn-orange {
	background: #primarycolor;
	border-color: #primarycolor;
	color: #fff;
}

.btn-orange:hover,
.btn-orange:focus {
	background:  #ee8825;
	border-color: #ee8825;
	color: #fff;
}

.btn-grey{
	background: #a1a1a1;
	border-color: #a1a1a1;
	color: #fff;
}

.btn-grey:hover,
.btn-grey:focus {
	background:  #666;
	border-color: #666;
	color: #fff;
}

/* -----------------------------------------
	icons
----------------------------------------- */
.icon{
	display: inline-block;
}

	.i-16{
		font-size: 16px
	}

	.i-24{
		font-size: 24px
	}

	.i-32{
		font-size: 32px
	}

	.i-48{
		font-size: 48px
	}

	.i-64{
		font-size: 64px
	}

	.icon.circle{
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
	}

	.i-16.circle{
		padding: 8px;
	}

	.i-24.circle{
		padding: 12px;
	}

	.i-32.circle{
		padding: 16px;
	}

	.i-48.circle{
		padding: 24px;
	}

	.i-64.circle{
		padding: 32px;
	}

		.circle.orange{
			background: #fff;
			border:5px solid #primarycolor;
			color:#primarycolor;
		}

		.circle.white{
			background: #primarycolor;
			color:#fff;
		}

		a:hover .circle.orange{
			background: #ee8825;
			color:#fff;
			border-color: #ee8825;
		}

a .icon{
	vertical-align: -20%;
}

.btn .icon{
	margin-right: 5px
}

/* -----------------------------------------
	forms
----------------------------------------- */
form{
	margin: 0;
}

textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
	border-color: rgba(248, 171, 3, 0.8);
	outline: 0;
	outline: thin dotted 9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(248, 171, 3,.6);
}

textarea{
	min-height: 70px !important;
	resize:vertical;
}

#wrapper [class*="span"]>input,
#wrapper [class*="span"]>textarea,
#wrapper [class*="span"]>select{
	margin-bottom: 0;
}

/* -----------------------------------------
	carousel
----------------------------------------- */
.carousel-control {
	font-size: 48px;
	font-weight: bold;
	top: 50%;
}

.carousel-indicators {
	bottom: 10px;
	right: 10px;
	top: auto;
}

	.carousel-indicators li {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		height: 16px;
		width: 16px;
	}

.carousel-inner>.item>img, 
.carousel-inner>.item>a>img{
	width: 100%;
}

/* -----------------------------------------
	accordion
----------------------------------------- */
.accordion-group {
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

	.accordion-heading .accordion-toggle {
		background: #f1f1f1;
		color: #333;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.accordion-heading .accordion-toggle:hover {
		background: #fff;
	}

	.accordion-heading .active {
		background: #fff;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}

		.accordion-heading .active .icon-plus,
		.accordion-heading .accordion-toggle .icon-minus {
			display: none;
		}
		.accordion-heading .active .icon-minus {
			display: inline-block;
		}

	.accordion-body p{
		margin-left: 40px;
	}
	

/* -----------------------------------------
	navbar
----------------------------------------- */
.navbar .nav>li>a {
	color: #333;
}

.navbar .nav>.active>a, 
.navbar .nav>.active>a:hover, 
.navbar .nav>.active>a:focus,
.nav-pills>.active>a, 
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus {
	color: #333;
	text-decoration: none;
	background-color: #primarycolor;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
	text-shadow:none;
    color: white;
}

	.navbar .nav .dropdown-toggle .caret {
		margin-top: 5px;
	}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
	background: #primarycolor;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: #e5e5e5;
}

.nav-list>li>a {
	color: #333;
}

.nav-list>.active>a,
.nav-list>.active>a:hover,
.nav-list>.active>a:focus {
	text-shadow: none;
	background-color: #primarycolor;
}

.navbar .btn-navbar {
	margin-top: 35px;
	color: #333;
	text-shadow: 0 0;
	background: none;
	border:none;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

	.navbar .btn-navbar .icon {
		margin: 0;
	}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #primarycolor;
  background-image: -moz-linear-gradient(top, #primarycolor, #primarycolor);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#primarycolor), to(#primarycolor));
  background-image: -webkit-linear-gradient(top, #primarycolor, #primarycolor);
  background-image: -o-linear-gradient(top, #primarycolor, #primarycolor);
  background-image: linear-gradient(to bottom, #primarycolor, #primarycolor);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#primarycolorcc', endColorstr='#primarycolorb3', GradientType=0);
}

/* -----------------------------------------
	generics
----------------------------------------- */
.well{
	background: #f1f1f1;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 0;
	-moz-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

/* -----------------------------------------------------------------------
	2. Layout
------------------------------------------------------------------------ */

/* -----------------------------------------
	regions
----------------------------------------- */

/* header */
header {

}

	header.navbar-static-top .navbar-inner {
		background: #f1f1f1;
		border-bottom: 1px solid #ccc;
		border-top: 3px solid #primarycolor;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 0 0;
		-moz-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		margin-bottom: 30px;
	}

		header .navbar-inner h1{
			margin: 20px 0;
		}

		header.navbar-static-top .nav>li>.dropdown-menu:before,
		header.navbar-static-top .nav>li>.dropdown-menu:after {
			display: none;
		}

			header.navbar-static-top .nav li.dropdown.open>.dropdown-toggle,
			header.navbar-static-top .nav li.dropdown.active>.dropdown-toggle,
			header.navbar-static-top .nav li.dropdown.open.active>.dropdown-toggle {
				background-color: #ddd;
				color: #333;
			}

			header.navbar-static-top .nav>li>a:focus, 
			header.navbar-static-top .nav>li>a:hover {
				background-color: #e5e5e5;
			}

/* wrapper */
#wrapper section{
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

#wrapper section#content{
	border: none;
}

#wrapper section:last-child{
	border-bottom:none;
	margin-bottom: 0;
}

	#wrapper .container{
		margin-bottom: 36px;
	}

	#wrapper .container:last-child{
		margin-bottom: 0;
	}

	#wrapper #main{
		margin-bottom: 36px;
	}

	#wrapper [class*="span"]{
		margin-bottom: 20px;
	}


/* footer */
footer{
	background: #666;
	padding: 40px 0;
}
	
	footer .block{
		margin-bottom: 20px;
	}

		footer .block h3{
			color:#fff;
			font-size: 18px;
			line-height: 18px;
		}
		footer .block p{
			color:#d0d0d0;
		}

		footer .block .well.no-content{
			background: #858585;
			border: 1px solid #858585;
			color: #aaa;
		}

			footer .block .well.no-content p{
				color: #aaa;
				margin-top: 10px;
			}

/* -----------------------------------------
	home
----------------------------------------- */

/* intro */
#intro h2{
	margin: 0 0 50px;
}

#intro .wellcome_block{
	position: relative;
}

/*#intro .wellcome_block:before{
	content: '';
	display: inline-block;
	border-bottom: 1px solid #ccc;
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	z-index: 0;
}*/

	#intro .wellcome_block .circle{
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}

    #intro .wellcome_block p {
        min-height: 55px;
    }

#prices h3{
	color: #000;
}

/* -----------------------------------------
	Components
----------------------------------------- */

/* comments */
.comment{
	position: relative;
}

	.comment>.pull-left {
		margin-right: 20px;
	}

	.comment>.pull-left:hover {
		opacity: 0.6;
	}

		.media>.pull-left .img-circle{
			border:3px solid #primarycolor;
		}

	.comment .media-body{
		background: #fff;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 20px;
	}

		.comment .media-body p{
			
		}

	.comment-form .media-body{
		background: #f1f1f1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding: 20px;
	}
		
	.comment .media-body:before,
	.comment .media-body:after {
		content: '';
		display: inline-block;
		position: absolute;

	}

		.comment-form .media-body form{
			margin: 0;
		}

/* members */
.member_block {
	position: relative;
    min-height: 290px;
}
.member_block:before {
	content: '';
	display: inline-block;
	border-bottom: 1px solid #ccc;
	position: absolute;
	top: 74px;
	left: 0;
	right: 0;
	z-index: 0;
}
	
	.member_block .user_avatar{
		display: inline-block;
        min-height: 180px;
	}

	.member_block .user_avatar:hover{
		transform: scale(1.1);
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
		
		.member_block .img-circle{
			border: 5px solid #fff;
			position: relative;
			z-index: 1;
			-webkit-transition: all 200ms ease-in;
			-moz-transition: all 200ms ease-in;
			-o-transition: all 200ms ease-in;
			transition: all 200ms ease-in;
		}

		.member_block a:hover .img-circle{
			border-color:#primarycolor;
		}

	.member_block .btn-grey{
		margin-bottom: 5px;
	}

    .member_block .btn .icon, .skills .btn .icon, .resource_features .btn .icon { margin-right: 0;}
    .resource_features > span { margin-bottom: 5px !important;}
    

/* filter */
.filter{
	margin-bottom: 30px;
}

	.filter .btn{
		margin-bottom: 5px;
	}

/* -----------------------------------------
	widget
----------------------------------------- */
.widget{
	border:1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 10px;
}

	.widget-title *{
		font-size: 14px;
		line-height: 14px;
		margin: 0 0 15px;
	}

/* widget-skills */
.widget-skills .btn,
.skills .btn{
	margin-bottom: 5px;
}

/* widget-flickr */
.widget-flickr ul{
	list-style: none;
	margin: 0;
	text-align: center;
}

	.widget-flickr ul li{
		display: inline-block;
		margin-bottom: 5px;
		width: 31%;
	}

		.widget-flickr ul li a{
			display: inline-block;
		}

		.widget-flickr ul li a:hover{
			opacity: 0.6;
		}

/* widget-menu */
.widget-menu .widget-body{
	margin-left: -10px;
	margin-right: -10px;
}

/* -----------------------------------------
	fullcalendar
----------------------------------------- */
.fc-content {
	background: #fff;
}

	.fc-header-title h2 {
		background-color: #primarycolor;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		color: #fff;
		font-size: 18px;
		line-height: 18px;
		padding: 5px 10px;
	}

	.fc-event {
		border: 1px solid #a1a1a1;
		background-color: #a1a1a1;
		color: #fff!important;
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		transition: all 200ms ease-in;
	}

	.fc-event:hover {
		background:  #666;
		border-color: #666;
	}

    .fc-day, .fc-event { cursor: pointer !important; }
/* -----------------------------------------
	content-types
----------------------------------------- */
/* pages */
.page-title{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.body-content {
    
}
.body-content > .thumbnail.pull-left{
	margin: 0 20px 20px 0;
}

.body-content > .thumbnail.pull-right{
	margin: 0 0 20px 20px;
}

/* contact */ 
#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
}

	.contact-form h3{
		font-size: 18px;
		line-height: 18px;
	}

	.contact-form .media{
		border-bottom: 1px solid #ccc;
	}

/* Blog */
.post{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

	.post .page-title{
		margin-bottom: 20px;
	}

	.post .post-info{
		list-style: none;
		margin: 0 0 20px;
	}

		.post .post-info li{
			display: inline;
			margin-right: 10px;
			margin-bottom: 5px;
		}

/* invoices */
.invoices td{
	padding-top: 15px;
	padding-bottom: 15px;
}

	.invoices td .btn-orange{
		margin: -5px 0;
	}

/* media queries */

/* Large desktop */
  @media (min-width: 1200px) { 
  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {

}

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
  
    #intro .wellcome_block p {
        min-height: initial;
    }

}

  /* Landscape phones and down */
  @media (max-width: 480px) {
    .navbar h1 img {
        height: 40px;
    }  
    .navbar .btn-navbar {
        margin-top: 15px;  
    }
}

  /* Utils */
  /*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bootstrap-datetimepicker-widget{top:0;left:0;width:250px;padding:4px;margin-top:1px;z-index:3000;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}.bootstrap-datetimepicker-widget:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.bootstrap-datetimepicker-widget.pull-right:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.pull-right:after{left:auto;right:7px}.bootstrap-datetimepicker-widget>ul{list-style-type:none;margin:0}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:100%;font-weight:bold;font-size:1.2em}.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator{width:4px;padding:0;margin:0}.bootstrap-datetimepicker-widget .datepicker>div{display:none}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget td,.bootstrap-datetimepicker-widget th{text-align:center;width:20px;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget td.day:hover,.bootstrap-datetimepicker-widget td.hour:hover,.bootstrap-datetimepicker-widget td.minute:hover,.bootstrap-datetimepicker-widget td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget td.old,.bootstrap-datetimepicker-widget td.new{color:#999}.bootstrap-datetimepicker-widget td.active,.bootstrap-datetimepicker-widget td.active:hover{color:#fff;background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget td.active:hover,.bootstrap-datetimepicker-widget td.active:hover:hover,.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active,.bootstrap-datetimepicker-widget td.active.disabled,.bootstrap-datetimepicker-widget td.active:hover.disabled,.bootstrap-datetimepicker-widget td.active[disabled],.bootstrap-datetimepicker-widget td.active:hover[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}.bootstrap-datetimepicker-widget td.active:active,.bootstrap-datetimepicker-widget td.active:hover:active,.bootstrap-datetimepicker-widget td.active.active,.bootstrap-datetimepicker-widget td.active:hover.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td.disabled,.bootstrap-datetimepicker-widget td.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget td span{display:block;width:47px;height:54px;line-height:54px;float:left;margin:2px;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-datetimepicker-widget td span:hover{background:#eee}.bootstrap-datetimepicker-widget td span.active{color:#fff;background-color:#006dcc;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*background-color:#04c;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget td span.active:hover,.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active,.bootstrap-datetimepicker-widget td span.active.disabled,.bootstrap-datetimepicker-widget td span.active[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}.bootstrap-datetimepicker-widget td span.active:active,.bootstrap-datetimepicker-widget td span.active.active{background-color:#039 \9}.bootstrap-datetimepicker-widget td span.old{color:#999}.bootstrap-datetimepicker-widget td span.disabled,.bootstrap-datetimepicker-widget td span.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget th.switch{width:145px}.bootstrap-datetimepicker-widget th.next,.bootstrap-datetimepicker-widget th.prev{font-size:21px}.bootstrap-datetimepicker-widget th.disabled,.bootstrap-datetimepicker-widget th.disabled:hover{background:0;color:#999;cursor:not-allowed}.bootstrap-datetimepicker-widget thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget thead tr:first-child th:hover{background:#eee}.input-append.date .add-on i,.input-prepend.date .add-on i{display:block;cursor:pointer;width:16px;height:16px}.bootstrap-datetimepicker-widget.left-oriented:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.left-oriented:after{left:auto;right:7px}

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     /*!
* bootstrap-lightbox.css v0.6.1 
* Copyright 2013 Jason Butz
* http://www.apache.org/licenses/LICENSE-2.0.txt
*/
.lightbox{position:relative;top:70px;z-index:1050;line-height:0;text-align:center;background-color:transparent;outline:0}.lightbox .hide{display:none}.lightbox .in{display:block}.lightbox-content{display:inline-block;padding:10px;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}.lightbox-content .lightbox-caption{position:absolute;right:12px;bottom:11px;left:11px;padding:2%;font-size:14px;line-height:18px;color:white;text-align:center;text-shadow:0 -1px 0 #000;text-shadow:0 -1px 0 rgba(0,0,0,0.3);background:#000;background:rgba(0,0,0,0.6)}.lightbox-header .close{margin-top:-16px;margin-right:-16px;font-size:2em;color:white;opacity:.8;filter:alpha(opacity=80)}.lightbox-header .close :hover{opacity:.4;filter:alpha(opacity=40)}
    

.icon-time, .icon-chevron-up, .icon-chevron-down {
    font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-time:before {

	content: "\e0f5" !important;
}

.icon-chevron-up:before {
	content: "\e1cc" !important;
}

.icon-chevron-down:before {
	content: "\e1d0" !important;
}

/* Collboration */

  label.error {
    color: red;
    font-size:10px;
  }
  
  .workspace-card {
    width: 184px;
    height: 235px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    text-align: left;
    background: #fff;
    padding: 15px;
    text-rendering: optimizeLegibility;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .workspace-card a.workspace-link {
    height: 235px;
    display: block;
    text-decoration: none;
    color: #858585;
  }
  .workspace-card h5 {
    font-size: 18px;
    margin: 0 0 5px;
    line-height: 1.1em;
    word-wrap: break-word;
  }
  .workspace-card .summary {
    font-size: 13px;
    line-height: 1.2em;
    word-wrap: break-word;
  }
  .workspace-card .members {
    position: absolute;
    left: 16px;
    bottom: 15px;
    zoom: 1;
  }
  .workspace-card .members img {
    border: 1px solid rgba(0,0,0,0.3);
    margin: 0 2px 2px 0 !important;
  }
  .workspace-card .members label {
    font-size: 12px;
  }
  .workspace-card input{ 
  	margin: 0
  }
  .workspace-card .icon-remove {
    position: absolute;
    right: 5px;
    top: 5px;
  }
  
.timepicker-picker > table > tbody > tr:first-child { display: none !important; }
.timepicker-picker > table > tbody > tr:last-child { display: none !important; }
