{% extends master.master %}
{% block content %}
{% if data.Local.ShowCheckInMembers and data.Local.CheckedIn == false  %}
<style>
  .checkedin img { border-color: green !important; }
</style>
{% endif %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T People at {0} || data.Business.Name %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    <div class="row">
      <h2 class="page-title span12">{% T People at {0} || data.Business.Name %}</h2>
      
      <!-- CONTENT -->
      <section id="content" class="span12">
        <!-- FILTER -->
        <div class="filter well well-large">
          <select style="width:100%" id="tag" onchange="window.location='{% Url Directory, Index, checkedin: data.Local.CheckedIn %}&tag=' + $('#tag').val()">
            <option value=""> {% T View all %}</option>
            {% for tag in data.Local.AllTags %}
            <option value="{{tag}}" {% if data.Local.Tag == tag  %}selected="selected"{%endif%}> {{ tag | Capitalize }}</option>
            {% endfor %}  
          </select>
          {% if data.Local.ShowCheckInMembers and data.Local.CheckedIn == false %}
          <label>
            <input type="checkbox" onclick="window.location='{% Url Directory, Index, checkedin: 'true' %}'">
            <span style="vertical-align: sub;">{% T View members in the space right now %}</span>
          </label>
          {% endif %}
          {% if data.Local.ShowCheckInMembers and data.Local.CheckedIn == true %}
          <label>
            <input type="checkbox" checked="checked" onclick="window.location='{% Url Directory, Index, checkedin: 'false' %}'">
            <span style="vertical-align: sub;">{% T View members in the space right now %}</span>
          </label>
          {% endif %}
        </div>
        <!-- END FILTER -->
        
        <div class="row">
          {% DivRow member in data.Local.Coworkers cols:4 %}
          <!-- member -->
          <div class="member_block span3 text-center {% if member.CheckedIn %}checkedin{% endif %}">
            <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="user_avatar">
              {% if member.HasAvatar %}
              <img class="img-circle" height="140" width="140" src="{% Url Coworker, GetAvatar, id: member.Id, h:140, w:140 %}" alt="{{ member.FullName | Capitalize }}" >          
              {% else %}
              <img class="img-circle" height="140" width="140" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ member.FullName | Capitalize }}" >
              {% endif %}
            </a>
            <h4 class="subheader">
            {{ member.FullName  | Capitalize }}
            </h4>
            <h5 class="subheader">
            {{ member.BusinessArea | Capitalize }}
            </h5>
            {% if member.ProfileWebsite.size > 0 %}
              <a target="_blank" href="{{ member.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% else %}
              <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
            {% endif %}
            {% if member.Twitter.size > 0 %}
            <a target="_blank" href="http://twitter.com/{{ member.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
            {% endif %}
            {% if member.Linkedin.size > 0 %}
            <a target="_blank" href="{{ member.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
            {% endif %}
            {% if member.Facebook.size > 0 %}
            <a target="_blank" href="{{ member.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
            {% endif %}
            {% if member.Skype.size > 0 %}
            <a href="callto://{{ member.Skype }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-skype"></span></a>
            {% endif %}
          </div>
          <!-- END member -->
          {% endDivRow %}
        </div>
        
      </section>
      <!-- END CONTENT -->
      
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script>
    $(function(){
        $('#tag').chosen();
    });
</script>
{% endblock %}