<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      
      <!-- BLOCK -->
      <div class="block span4">
        <h3>{{ data.Business.Name }}</h3>
        {% if data.Business.ShortIntroduction %}
        <p>
          {{ data.Business.ShortIntroduction | NewlineToBr }} }}
        </p>
        {% else %}
        <div class="well no-content text-center">
          <span aria-hidden="true" class="icon i-48 icon-pencil"></span>
          <p><strong><a target="_blank" href="https://spaces.nexudus.com/Sys/businesses/Edit/{{ data.Business.Id }}#&tab-businesses-AboutSpace">{% T Click here to write about your space %}</a></strong></p>
        </div>
        {% endif %}
        
      </div>
      <!-- END BLOCK -->
      
      <!-- BLOCK -->
      <div class="block span4">
        <h3>{% T Recent Tweets %}</h3>
        {% if data.Setting_Social_Twitter != "" %}
        <a class="twitter-timeline" data-tweet-limit="1" data-chrome="noheader nofooter noborders" href="https://twitter.com/twitterapi" data-widget-id="{% Setting Social.Twitter %}"></a>
        {% else %}
        <div class="well no-content text-center">
          <span aria-hidden="true" class="icon i-48 icon-twitter-2"></span>
          <p><strong><a target="_blank" href="https://spaces.nexudus.com/Settings">{% T Click here to setup Twitter %}</a></strong></p>
        </div>
        {% endif %}
      </div>
      <!-- END BLOCK -->
      
      <!-- BLOCK -->
      {% if data.Setting_HomePage_NewsletterSignUp %}
      <div class="block span4">
        <h3>{% T Newsletter %}</h3>
        <p>{% T Signup to get the latest info about what's on the space %}</p>
        <form action="{% Url Newsletter, SignUp %}" method="post">
          {% AntiforgeryToken %}
          <div class="input-append">
            <input autocomplete="off" required="required" type="email" id="name" class="full-width" name="email" placeholder="{% T Your email %}" />
            <button class="btn btn-orange" type="submit">{% T Signup %}</button>
          </div>
        </form>
      </div>
      <!-- END BLOCK -->
      {% endif %}
      
    </div>
  </div>
</footer>
<!-- END FOOTER -->