{% extends master.master %}
{% block content %}

<div id="wrapper">
  <section id="wellcome">
    {% if data.Local.Gallery.size > 0 %}
    <!-- CAROUSEL -->
    <div id="carousel" class="container">
      <div id="myCarousel" class="carousel slide">
        <!-- carousel-indicators -->
        <ol class="carousel-indicators">
          {% for image in data.Local.Gallery %}
          <li class="{% if forloop.index0 == 0 %}active{% endif %}" data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}"></li>
          {% endfor %}
        </ol>
        <!-- END carousel-indicators -->
        
        <!-- carousel-content -->
        <div class="carousel-inner">
          {% for image in data.Local.Gallery %}
          <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
			<img src="{% Url Content, Images, name: image.Name, w: 1170, h: 450, mode: 'Crop', quality: 100 %}" alt="">
          </div>
          {% endfor %}
        </div>
        <!-- END carousel-content -->
        
        <!-- carousel-controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&#8249;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&#8250;</a>
        <!-- END carousel-controls -->
      </div>
    </div>
    <!-- END CAROUSEL -->
    {% endif %}
    
    <!-- CONTAINER -->
    <div id="intro" class="container text-center">
      {% if data.Local.Gallery.size == 0 %}
      <h2>{% T Welcome to {0} || data.Business.Name %}</h2>
      {% endif %}
      <div class="row">
        <!-- wellcome_block -->
        <div class="wellcome_block span3">
          <a href="{% Url About, Index %}"><span aria-hidden="true" class="icon i-32 icon-home circle orange"></span></a>
          <h3 class="subheader">{% T The space %}</h3>
          <p>{% T Find out about our space and the facilities available to our members. || data.Business.Name %}</p>
          <a href="{% Url About, Index %}" class="btn btn-orange"><span aria-hidden="true" class="icon i-16 icon-home"></span>{% T About us %}</a>
        </div>
        <!-- END wellcome_block -->
        
        <!-- wellcome_block -->
        <div class="wellcome_block span3">
          <a href="{% Url Bookings, Index %}"><span aria-hidden="true" class="icon i-32 icon-calendar circle orange"></span></a>
          <h3 class="subheader">{% T What's on %}</h3>
          <p>{% T Activities and events at {0}. Make your own booking request. || data.Business.Name %}</p>
          <a href="{% Url Bookings, Index %}" class="btn btn-orange"><span aria-hidden="true" class="icon i-16 icon-calendar"></span>{% T Calendar %}</a>
        </div>
        <!-- END wellcome_block -->
        
        <!-- wellcome_block -->
        <div class="wellcome_block span3">
          <a href="{% Url Directory, Index %}"><span aria-hidden="true" class="icon i-32 icon-link circle orange"></span></a>
          <h3 class="subheader">{% T Members %}</h3>
          <p>{% T Who is already at {0}, their skills and what they offer. || data.Business.Name %}</p>
          <a href="{% Url Directory, Index %}" class="btn btn-orange"><span aria-hidden="true" class="icon i-16 icon-address-book"></span>{% T Directory %}</a>
        </div>
        <!-- END wellcome_block -->
        
        <!-- wellcome_block -->
        <div class="wellcome_block span3">
          {% if data.Setting_Members_CanSignup %}
          <a href="{% Url SignUp, Index %}"><span aria-hidden="true" class="icon i-32 icon-checkmark circle orange"></span></a>
          {% else %}
          <a href="{% Url Contact, Index %}"><span aria-hidden="true" class="icon i-32 icon-envelop circle orange"></span></a>
          {% endif %}
          <h3 class="subheader">{% T Join us %}</h3>
          <p>{% T A few simple forms to become a member %}</p>
          {% if data.Setting_Members_CanSignup %}
          <a href="{% Url SignUp, Index %}" class="btn btn-orange"><span aria-hidden="true" class="icon i-16 icon-enter"></span>{% T Join us %}</a>
          {% else %}
          <a href="{% Url Contact, Index %}" class="btn btn-orange"><span aria-hidden="true" class="icon i-16 icon-envelop"></span>{% T Contact us %}</a>
          {% endif %}
        </div>
        <!-- END wellcome_block -->
      </div>
      
    </div>
    <!-- END CONTAINER -->
    
    <!-- CONTAINER -->
    <div id="prices" class="container">
      <div class="well well-large text-center">
        <h3 class="subheader">{% T Are you looking for a place to work, learn and share? %}</h3>
        <h3>
          {% if data.Local.ChepeastPlan != null %}
			{% if data.Local.ChepeastPlan.InvoiceInMonths %}
				{% T Prices from {0} {1} a month. || data.Local.ChepeastPlan.Price || {{ data.Business.Currency.Code }} %}
			{% else %}
				{% T Prices from {0} {1} a week. || data.Local.ChepeastPlan.Price || {{ data.Business.Currency.Code }} %}
			{% endif %}
          {% else %}
			{% T Contact with us for more information about our price plans. %}
		  {% endif %}
        </h3>
        <a href="{% Url Contact, Index %}" class="btn btn-orange btn-large">{% T Contact %}</a>
        <a href="{% Url Bookings, Index %}" class="btn btn-orange btn-large">{% T Make a booking %}</a>
      </div>
    </div>
    <!-- END CONTAINER -->
    
  </section>
  <!-- END WRAPPER -->
  
  {% if data.Setting_HomePage_Wall %}
  <!-- COMMENTS -->
  <section id="comments">
    <div class="container">	
      <h3>{% T What people at {0} are saying || data.Business.Name %}</h3>
      {% for item in data.Wall %}
      <!-- COMMENT -->
      <div class="media comment">
        
        <a class="media-object pull-left" href="{% Url Directory, Profile, id: item.FromUser.Coworker.Id, name: item.FromUser.Coworker.FullName | Clean %}">
          {% if item.FromUser.Coworker.HasAvatar %}
          <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: item.FromUser.Coworker.Id, h:64, w:64 %}" alt="{{ item.FromUser.FullName | Capitalize }}" >          
          {% else %}
          <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ item.FromUser.FullName | Capitalize }}" >
          {% endif %}
        </a>
        
        <div class="media-body">
          <h4 class="media-heading">{{ item.FromUser.FullName | Capitalize }} </h4>
          <blockquote>
            <p>{{ item.MessageText | StripHtml | MarkDown }}</p>
            <small>{{ item.CreatedOn | Date: 'd MMMM @htt' }}</small>
          </blockquote>
          
        </div>
      </div>
      <!-- END COMMENT -->
      {% endfor %}
      {% if data.UserIsLoggedIn %}
      <div class="media comment comment-form">
        
        <a class="media-object pull-left" href="{% Url Directory, Profile, id: data.Coworker.Id %}">
          {% if data.Coworker.HasAvatar %}
          <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: data.Coworker.Id, h:64, w:64 %}" alt="{{ data.Coworker.FullName | Capitalize }}" >
          {% else %}
          <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ data.Coworker.FullName | Capitalize }}" >
          {% endif %}
        </a>
        <div class="media-body">
          <form class="row-fluid" method="post">
            {% AntiforgeryToken %}
			<textarea class="span12" name="message" required="required"></textarea>
            <button type="submit" class="btn btn-orange pull-right">{% T Post message %}</button>
          </form>
        </div>
      </div>
      {% else %}
      <div class="media comment comment-form">
      	<a href="{% Url Login, Index %}" class="btn btn-orange">{% T Login to leave a message %}</a>
      </div>
      {% endif %}
    </div>
  </section>
  <!-- END COMMENTS -->
  {% endif %}
  
  <!-- ACCORDIONS -->
  <section id="accordions">
    <div class="container">
      <div class="row">
        
        <!-- accordion_block -->
        <div class="accordion_block span6">
          
          <h3>{% T Services %}</h3>
          {% if data.Local.Services.size == 0 %}
          <div class="well no-content text-center">
            <span aria-hidden="true" class="icon i-48 icon-plus"></span>
            <p><strong><a target="_blank" href="https://spaces.nexudus.com/Billing/ExtraServices">{% T Click here to create services %}</a></strong></p>
          </div>
          {% endif %}
          <div class="accordion" id="accordion-services">
            {% for service in data.Local.Services %}  
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-services" href="#collapse-service-{{ forloop.index0 }}">
                  <span aria-hidden="true" class="icon icon-plus i-16 circle white"></span>
                  <span aria-hidden="true" class="icon icon-minus i-16 circle white"></span> {{ service.Name }}
                </a>
              </div>
              <div id="collapse-service-{{ forloop.index0 }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>
                    {{ service.Description }}
                    <br/>
                    <small>                      
                      {% assign servicePrice = service.Price | FormatDecimal: '0.00' %}
                      {% T From {0} {1} || servicePrice || service.Currency.Code %}  
                      -
                        <a href="{% Url Bookings, Index %}">{% T Book %}</a>
                        {% if data.Resources.size > 0 %}
                        - <a href="{% Url PublicResources, Index %}">{% T View all resources %}</a>
                        {% endif %}
                    </small>
                  </p>
                </div>
              </div>
            </div>
            {%endfor %}
          </div>
        </div>
        <!-- END accordion_block -->
        
        
        <!-- accordion_block -->
        <div class="accordion_block span6">
          
          <h3>{% T Price plans %}</h3>
          {% if data.Local.PricePlans.size == 0 %}
          <div class="well no-content text-center">
            <span aria-hidden="true" class="icon i-48 icon-plus"></span>
            <p><strong><a target="_blank" href="https://spaces.nexudus.com/Billing/Tariffs">{% T Click here to create services %}</a></strong></p>
          </div>
          {% endif %}
          <div class="accordion" id="accordion-plans">
            {% for service in data.Local.PricePlans %}  
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-plans" href="#collapse-plans-{{ forloop.index0 }}">
                  <span aria-hidden="true" class="icon icon-plus i-16 circle white"></span>
                  <span aria-hidden="true" class="icon icon-minus i-16 circle white"></span> {{ service.Name }}
                </a>
              </div>
              <div id="collapse-plans-{{ forloop.index0 }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>
                    {{ service.Description }}
                    <br/>
                    <small>                      
                      
                      {% T From {0} {1} ||  service.Price  || service.Currency.Code %}  
                      -
                      <a onclick="window.location='{% Url Bookings, Index %}?priceplanid={{ service.Id }}'" href="{% Url Signup, Index %}?priceplanid={{ service.Id }}">{% T Signup %}</a>
                    </small>
                  </p>
                </div>
              </div>
            </div>
            {%endfor %}
          </div>
          
        </div>
        <!-- END accordion_block -->
      </div> 
    </div>
  </section>
  <!-- END ACCORDIONS -->
  
  {% if data.Setting_Members_PublicDirectory %}
  {% if data.Local.Members.size > 0 %}
  <!-- MEMBERS -->
  <section id="members">
    <!-- CONTAINER -->
    <div class="container">
      <h3>{% T People at {0} || data.Business.Name %}</h3>
      <div class="row">
        {% for member in data.Local.Members limit:8 %}
        <!-- member -->
        <div class="member_block span3 text-center">
          <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="user_avatar">
            {% if member.HasAvatar %}
            <img class="img-circle" height="140" width="140" src="{% Url Coworker, GetAvatar, id: member.Id, h:140, w:140 %}" alt="{{ member.FullName | Capitalize }}" >
            {% else %}
            <img class="img-circle" height="140" width="140" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ member.FullName | Capitalize }}" >
            {% endif %}
          </a>
          <h4 class="subheader">
            {{ member.FullName | TruncateWords words: 2, truncateString: '' | Capitalize }}
          </h4>
          <a href="{% Url Directory, Profile, Id: member.Id, name: member.FullName | Clean %}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-user"></span></a>
          {% if member.ProfileWebsite.size > 0 %}
          <a target="_blank" href="{{ member.ProfileWebsite }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-earth"></span></a>
          {% endif %}
          {% if member.Twitter.size > 0 %}
          <a target="_blank" href="http://twitter.com/{{ member.Twitter }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-twitter"></span></a>
          {% endif %}
          {% if member.Linkedin.size > 0 %}
          <a target="_blank" href="{{ member.Linkedin }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-linkedin"></span></a>
          {% endif %}
          {% if member.Facebook.size > 0 %}
          <a target="_blank" href="{{ member.Facebook }}" class="btn btn-grey"><span aria-hidden="true" class="icon i-16 icon-facebook"></span></a>
          {% endif %}
        </div>
        <!-- END member -->
        {% endfor %}
      </div>
      <div class="row text-center well">
        <a href="{% Url Directory, Index %}" class="btn btn-large btn-orange">{% T View all members %}</a>
      </div>
    </div>
    <!-- END CONTAINER -->
  </section>
  <!-- END MEMBERS -->
  {% endif %}
  {% endif %}
  
</div>
{% endblock %}