{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T Join us %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <div class="row">
      <h2 class="page-title span12">{% T Create new account at {0} || data.Business.Name %}</h2>
      
      <!-- CONTENT -->
      <section id="content" class="span12">
        
        
        <form action="{% Url Signup, Index %}" method="POST" enctype="multipart/form-data" id="profile-form">
          <input type="hidden" name="PricePlanId" value="{{ data.Local.PricePlanId }}"/>
          <h3>{% T Personal Details %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span4">
                <label for="Coworker_FullName">{% T Fullname %}</label>
                <input type="text" id="Coworker_FullName" name="Coworker.FullName" value="{{ data.Coworker.FullName }}" required="required" class="span12"> 
              </div>
              <div class="span8">
                <label for="Coworker_Salutation">{% T What should we call you? %} <span class="muted">{% T (for example, when we send you mail?) %}</span></label>
                <input class="span6" type="text" id="Coworker_Salutation" name="Coworker.Salutation" value="{{ data.Coworker.Salutation }}" required="required" class="span12"> 
              </div>
            </div>
            <div class="row-fluid">
              <div class="span4">
                <label for="Coworker_Email">{% T Email %}</label>
                <input type="text" id="Coworker_Email" name="Coworker.Email" value="{{ data.Coworker.Email }}" class="span12"> 
              </div>
              <div class="span3">
                <label for="Coworker_Gender">{% T Gender %}</label>
                <select id="Coworker_Gender" name="Coworker.Gender">
                  <option>-</option>
                  <option value="2" {% if (data.Coworker.Gender == 'Male' %} selected="selected" {% endif %}>{% T Male %}</option>
                  <option value="3" {% if (data.Coworker.Gender == 'Female' %} selected="selected" {% endif %}>{% T Female %}</option>
                </select>
              </div>
              <div class="span3">
                <label>{% T Avatar %}</label>
                <input type="file" name="Coworker_Avatar" />
              </div>
            </div>
            
          </div>
          {% if data.Local.HasCustomFields %}
          <h3>{% T Other Details %}</h3>
          <div class="well">
            {% for field in data.Local.CustomFields %}
            <div class="row-fluid">
              {% capture customFieldName %}Custom{{ field.CustomFieldIndex}}{%endcapture%}
              {% if field.FieldType == 'Text'  %}
              <div class="span12">
                <label for="Coworker_Custom{{ customFieldName }}">{% T field.Name %}</label>
                <input type="text" id="Coworker_Custom{{ customFieldName }}" name="Coworker.{{ customFieldName }}" value="{{data.Coworker[customFieldName]}}"  class="span12"> 
              </div>
              {% elseif field.FieldType == 'LongText' %}
              <div class="span12">
                <label for="Coworker_Custom{{ customFieldName }}">{% T field.Name %}</label>
                <textarea id="Textarea1" name="Coworker.{{ customFieldName }}" class="span12">{{data.Coworker[customFieldName]}}</textarea>
              </div>
              {% elseif field.FieldType == 'Boolean' %}
              <div class="span12">
                <label for="Coworker_Custom{{ customFieldName }}" class="checkbox">
                  <input id="Checkbox1" name="Coworker.{{ customFieldName }}" type="checkbox" {% if data.Coworker[customFieldName] == 'true' %}checked="checked"{% endif %} value="true" >
                  <input id="Hidden_Coworker_{{ customFieldName }}" name="Coworker.{{ customFieldName }}" type="hidden" value="false">
                  {% T field.Name %}
                </label>
              </div>
              {% elseif field.FieldType == 'Dropdown' %}
              <div class="span12">
                <label for="Coworker_Custom{{ customFieldName }}">{% T field.Name %}</label>
                <select id="Select1" name="Coworker.{{ customFieldName }}" class="span12">
                  <option></option>
                  {% for opt in field.AvailableOptionArray %}
                  <option {% if opt == {{data.Coworker[customFieldName]}} %}selected="selected"{% endif %}>{{opt}}</option>
                  {% endfor %}
                </select>
              </div>
              {% elseif field.FieldType == 'Date' %}
              <div class="span12">
                <label>{% T field.Name %}</label>
                <div class="input-append date">
                  <input type="text"  name="Coworker.{{ customFieldName }}"/>
                  <span class="add-on"><i class="icon-th icon-calendar"></i></span>
                </div>
              </div>
              {% else %}
              <div class="span12">
                <label for="Coworker_Custom{{ customFieldName }}">{% T field.Name %}</label>
                <input type="text" id="Coworker_Custom{{ field.CustomFieldIndex }}" name="Coworker.Custom{{ field.CustomFieldIndex }}" value="{{data.Coworker[customFieldName]}}"  class="span2"> 
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}
          <h3>{% T Account details %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span12">
                <label for="Coworker_Address">{% T Address %}</label>
                <textarea rows="5" id="Coworker_Address" name="Coworker.Address" type="text" class="span12">{{ data.Coworker.Address }}</textarea>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span3">
                <label for="Coworker_State">{% T State / Province %}</label>
                <input value="{{ data.Coworker.State }}" class="full-width" type="text" name="Coworker.State" id="Coworker_State" class="span12">            
              </div>
              <div class="span3">
                <label for="Coworker_CityName">{% T Town %}</label>
                <input value="{{ data.Coworker.CityName }}" class="full-width" type="text" name="Coworker.CityName" id="Coworker_CityName" class="span12">            
              </div>
              <div class="span3">
                <label for="Coworker_PostCode">{% T Postcode / Zip code %}</label>
                <input value="{{ data.Coworker.PostCode }}" type="text" name="Coworker.PostCode" id="Coworker_PostCode" class="span12">
              </div>
            </div>
          </div>
          
          <h3>{% T Your location %}</h3>
          <div class="well">
            <div class="row-fluid">
              <div class="span6">
                <label for="Coworker_Country">{% T Country %}</label>
                {% CountriesDropdown data.Coworker.Country.Id, Coworker.Country %}
              </div>
              <div class="span6">
                <label for="Coworker_Timezone">{% T Timezone %}</label>
                {% TimeZonesDropdown data.Coworker.SimpleTimeZone.Id, Coworker.SimpleTimeZone %}
              </div>
            </div>
          </div>
          
          
          <div class="row-fluid">
            <button type="submit" class="btn pull-right btn-orange">{% T Signup %}</button>
          </div>
          
        </form>
        
      </section>
      <!-- END CONTENT -->
    </div>
  </div>
  <!-- END CONTAINER -->
</div>

{% endblock %} 
{% block script %}
<script>
    $(function () {
        $(".date").datetimepicker({ language: '{{ data.Language }}', format: "dd MM yyyy", minuteStep: 15, showMeridian: true, autoclose: true, minView: 2, startView: 4 });

        for (var i = 1; i <= 30; i++)
            $('input[name="Coworker.Custom' + i + '"]').parent().closest('.span12').appendTo('#ph-custom' + i);

        var salutChanged = false;
        $('#Coworker_Salutation').keyup(function () {
            salutChanged = true;
        });
        $('#Coworker_FullName').keyup(function () {
            var fn = $('#Coworker_FullName').val();
            if (!salutChanged) {
                $('#Coworker_Salutation').val(fn.split(' ')[0]);
            }
        });
    });

</script>
{% endblock %}