{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <div class="row">
      
      <h2 class="page-title span12">
        {% if data.Local.Tag != null   %}
        {% T data.Local.Tag %}
        {% else %}
        {% T Additional Products %}
        {% endif %}
      </h2>
      
      <!-- CONTENT -->
      <section id="content" class="span12">
        
        <div class="body-content">
          <p class="alert alert-info" data-bind="visible: products().length == 0">
            {% T There are no products available %}
          </p>
          <table class="table table-striped" data-bind="visible: products().length > 0">
            <thead>
              <tr>
                <th class="span8">{% T Product %}</th>
                <th class="span1">{% T Price %}</th>
                <th class="span1">{% T Qty. %}</th>
                <th class="span2" style="white-space: nowrap;">{% T Add to my plan %}</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: products">
              <tr>
                <td><span data-bind="text: Name"></span><br/>
                  <small data-bind="text: Description"></small>
                </td>
                <td><span data-bind="text: PriceFormatted"></span></td>
                <td>
                  <select style="width:50px" data-bind="value: Quantity, optionsCaption: '', options: $root.qtys"></select>
                </td>
                <td class="text-center">
                  <input data-bind="checked: RegularCharge" type="checkbox" {% if data.Coworker.Tariff == null %}disabled="disabled"{% endif %} />
                </td>
              </tr>
              
            </tbody>
          </table>
          <table class="table" style="border-top: 1px solid black">
            <tbody>
              <tr>
                <th class="span9"><p class="text-right">{% T One-off Payment: %}</p></th>
                <th class="span3">
                  {{ data.Business.Currency.Code }}
                  <span data-bind="text: totalOneOff"></span></th>
              </tr>
              <tr>
                <th class="span9 text-right"><p class="text-right">{% T Added to your price plan: %}</p></th>
                <th class="span3"> 
                  {{ data.Business.Currency.Code }}
                  <span data-bind="text: totalTariff"></span></th>
              </tr>
            </tbody>
            
          </table>
          <div class="pull-right">
            <button class="btn btn-orange" data-bind="click: function () { selectedProducts().length == 0 ? doPurchase() : confirmPurchase() }">{% T Continue %}</button>
          </div>
        </div>
        
      </section>
      <!-- END CONTENT -->
      
      <!-- CONFIRM PURCHASE MODAL -->
      <div class="modal hide fade" data-bind="showModal: showConfirmation">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-bind="click: closeConfirmation">&times;</button>
          <h3>{% T Confirm your Purchase %}</h3>
        </div>
        <div class="modal-body">
          <form action="#">
            <table class="table table-striped">
            <thead>
              <tr>
                <th class="span10">{% T Product %}</th>
                <th class="span2">{% T Price %}</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: selectedProducts">
              <tr>
                <td><span data-bind="text: Name"></span></td>
                <td>
                  <span data-bind="text: Quantity"></span>x 
                  <span data-bind="text: PriceFormatted"></span></td>
              </tr>
              
            </tbody>
          </table>
            <table class="table" style="border-top: 1px solid black">
              <tbody>
                <tr>
                  <th class="span10"><p class="text-right">{% T One-off Payment: %}</p></th>
                  <th class="span2">
                    {{ data.Business.Currency.Code }}
                    <span data-bind="text: totalOneOff"></span></th>
                </tr>
                <tr>
                  <th class="span10 text-right"><p class="text-right">{% T Added to your price plan: %}</p></th>
                  <th class="span2"> 
                    {{ data.Business.Currency.Code }}
                    <span data-bind="text: totalTariff"></span></th>
                </tr>
              </tbody>
              
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link" data-bind="click: closeConfirmation">{% T Cancel %}</a>
          <a href="#" class="btn btn-orange" data-bind="click: doPurchase">{% T Continue %}</a>
        </div>
      </div>
      
    </div>
  </div>
  <!-- END CONTAINER -->
</div>
{% endblock %}
{% block script %}
<script>
    var lang = '{{ data.Language }}';
    var onlyTimePasses = '{{ data.Local.OnlyTimePasses }}';
    var productId = '{{ data.Local.ProductId }}';
    var tag = '{{ data.Local.Tag }}';
</script>
<script type="text/javascript" src="/content/themes/public/default/js/store.js"></script>
{% endblock %}