{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a> <span class="divider">/</span></li>
      <li class="active">{% T Help %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <div class="row">
      <h2 class="page-title span12">{% T Help %}</h2>
      <!-- CONTENT -->
      <section id="content" class="span12">
        <div class="well well-large text-center">
          <h2>{% T Problems? {0} to the rescue! || data.Business.Name %}</h2>
          <p >{% T SupportWallWelcome %}</p>
          {% if data.Setting_Members_AllowHelpMessages %}
          <a href="#modal_help"  role="button" class="btn btn-orange btn-large" data-toggle="modal">{% T Request help or report a problem %}</a>
          {% else %}
          <div class="media comment comment-form">
            <a href="{% Url Contact, Index %}" class="btn btn-orange btn-large">{% T Contact us for help %}</a>
          </div>
          {% endif %}
        </div>
        
        {% if data.Local.Messages.size > 0 %}
        <!-- COMMENTS -->
        <section id="comments">
          <div class="container">	
            <h3>{% T Support messages at {0} || data.Business.Name %}</h3>
            {% for item in data.Local.Messages %}
            <!-- COMMENT -->
            <div class="media comment">
              <a class="media-object pull-left" href="{% Url Directory, Profile, id: item.Coworker.Id, name: item.Coworker.FullName | Clean %}">
            	{% if item.Coworker.HasAvatar %}
                <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: item.Coworker.Id, h:64, w:64 %}" alt="{{ item.Coworker.FullName | Capitalize }}" >
                {% else %}
                <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ item.Coworker.FullName | Capitalize }}" >
                {% endif %}
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                  {{ item.Subject | TruncateWords: 50 }} 
                  {% if item.Closed %}
                  <span class="label label-success">{% T Closed %}</span>
                  {% else %}
                  <span class="label label-important">{% T Open %}</span>
                  {% endif %}
                </h4>
                <blockquote>
                  <p>{{ item.MessageText | StripHtml }}</p>
                  <small>
                    {{ item.CreatedOn | Date: 'd MMMM @htt' }} 
                    {% T by %}
                    <a href="{% Url Directory, Profile, id: item.Coworker.Id, name: item.Coworker.FullName | Clean %}">
                      {{ item.Coworker.FullName }}
                    </a>
                  </small>
                </blockquote>
                <a class="btn btn-orange" href="{% Url Support, Message, id: item.Id %}">{% T Read more or leave a reply %}</a>
              </div>
            </div>
            <!-- END COMMENT -->
            {% endfor %}
          </div>
        </section>
        <!-- END COMMENTS -->
        {% endif %}
        
      </section>
      <!-- END CONTENT -->
    </div>
  </div>
  <!-- END CONTAINER -->  
</div>
{% include newsupportmessage.htm %}
{% endblock %}