{% extends master.master %}
{% block content %}
<div id="wrapper">
  <!-- CONTAINER -->
  <div id="main" class="container">
    <!-- BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="{% Url PublicHome, Index %}">{% T Home %}</a><span class="divider">/</span></li>
      <li><a href="{% Url Support, Index %}">{% T Help %}</a><span class="divider">/</span></li>
      <li class="active">{% T Help Message %}</li>
    </ul>
    <!-- END BREADCRUMB -->
    
    <div class="row">
      <h2 class="page-title span12">{% T Help Message %}</h2>
      <!-- CONTENT -->
      <section id="content" class="span12">
        <div class="well well-large ">
          <h2>
            {{ data.Local.Message.Subject }}

          </h2>
          <p>
            <blockquote>
              <p>{{ data.Local.Message.MessageText | StripHtml }}</p>
              <small>
                {{ data.Local.Message.CreatedOn | Date: 'd MMMM @htt' }}
                {% T by %}
                <a href="{% Url Directory, Profile, id: data.Local.Message.Coworker.Id, name: data.Local.Message.Coworker.FullName | Clean %}">
                  {{ data.Local.Message.Coworker.FullName }}
                </a>
              </small>
            </blockquote>
            {% if data.Local.Message.Closed %}
            <a  class="btn btn-orange disabled">{% T This help request is closed %}</a>
            {% else %}
            <a href="#comment-form"  class="btn btn-orange">{% T Leave a reply %}</a>
            {% T or %}
            <a href="#modal_help" role="button" class="btn btn-orange" data-toggle="modal">{% T Create a brand new help message %}</a>
            {% T or %}
            <a href="#modal_close" role="button" class="btn btn-orange" data-toggle="modal">{% T Close this help request %}</a>
            {% endif %}
          </p>
          
        </div>
        
        
        <!-- COMMENTS -->
        <section id="comments">
          <div class="container">	
            <h3>{% T Comments about this help message %}</h3>
            {% for item in data.Local.Message.Comments %}
            <!-- COMMENT -->
            <div class="media comment">
              <a class="media-object pull-left" href="{% Url Directory, Profile, id: item.Coworker.Id, name: item.Coworker.FullName | Clean %}">
            	{% if item.Coworker.HasAvatar %}
                <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: item.Coworker.Id, h:64, w:64 %}" alt="{{ item.Coworker.FullName | Capitalize }}" >
                {% else %}
                <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ item.Coworker.FullName | Capitalize }}" >
                {% endif %}
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{ item.Cowoker.FullName }} </h4>
                <blockquote>
                  <p>{{ item.MessageText | StripHtml }}</p>
                  <small>
                    {{ item.CreatedOn | Date: 'd MMMM @htt' }}
                    {% T by %}
                    <a href="{% Url Directory, Profile, id: item.Coworker.Id, name: item.Coworker.FullName | Clean %}">
                      {{ item.Coworker.FullName }}
                    </a>
                  </small>
                </blockquote>
              </div>
            </div>
            <!-- END COMMENT -->
            {% endfor %}
            {% if data.Local.Message.Closed == false %}
            <div class="media comment comment-form" id="comment-form">
              <a class="media-object pull-left" href="{% Url Directory, Profile, id: data.Coworker.Id %}">
                {% if data.Coworker.HasAvatar %}
                <img class="img-circle" height="64" width="64" src="{% Url Coworker, GetAvatar, id: data.Coworker.Id, h:64, w:64 %}" alt="{{ data.Coworker.FullName | Capitalize }}" >
                {% else %}
                <img class="img-circle" height="64" width="64" src="/content/themes/public/clean/images/comment-avatar.jpg" alt="{{ data.Coworker.FullName | Capitalize }}" >
                {% endif %}
              </a>
              <div class="media-body">
                <form class="row-fluid" action="{% Url Support, NewComment %}" method="post">
                  {% AntiforgeryToken %}
                  <input type="hidden" name="Comment.HelpDeskMessage" value="{{data.Local.Message.Id}}" />
                  <textarea class="span12" name="Comment.MessageText" required="required"></textarea>
                  <button type="submit" class="btn btn-orange pull-right">{% T Post comment %}</button>
                </form>
              </div>
            </div>
            {% endif %}
          </div>
        </section>
        <!-- END COMMENTS -->
        
        
      </section>
      <!-- END CONTENT -->
    </div>
  </div>
  <!-- END CONTAINER -->  
</div>

<!-- MODAL -->
<div id="modal_close" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <form  method="post" action="{% Url Support, CloseRequest %}" class="row-fluid" id="help-form">
    {% AntiforgeryToken %}
    <input type="hidden" name="id" value="{{data.Local.Message.Id}}" />
    <!-- MODAL HEADER-->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>{% T Close this help request %}</h3>
    </div>
    <!-- END MODAL HEADER-->
    
    <!-- MODAL BODY-->
    <div class="modal-body">
      <p>
        {% T If the subject of this request has been resolved or is no longer valid, please close the help request. %}
      </p>
    </div>
    <!-- END MODAL BODY-->
    
    <!-- MODAL FOOTER-->
    <div class="modal-footer">
      <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">{% T Go back  %}</button>
      <button type="submit" class="btn btn-orange">{% T Yes, close this request %}</button>
    </div>
    <!-- END MODAL FOOTER-->
  </form>
</div>
<!-- END MODAL -->

{% include newsupportmessage.htm %}
{% endblock %}